<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<footer th:fragment="footer" class="site-footer">

    <div class="footer-container">

        <!-- Brand -->
        <div class="footer-col">
            <h3>Green Diamond Hotel</h3>
            <p>
                Hệ thống đặt phòng khách sạn .
            </p>
        </div>

        <!-- Navigation -->
        <div class="footer-col">
            <h4>Liên kết nhanh</h4>
            <ul>
                <li><a th:href="@{/}">Trang chủ</a></li>
                <li><a th:href="@{/search}">Tìm phòng</a></li>
                <li><a th:href="@{/my-bookings}">Đơn đặt phòng</a></li>
                <li><a th:href="@{/auth/login}">Đă
